.homepage {
  position: relative;

  &__video {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 10;
    object-fit: cover;
    font-family: 'object-fit:cover;';
  }
  &__content {
    background: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
  }
  //sketch
  #forSketch canvas {
    width: 100%;
    height: 100%;
  }
}

.content-wrap {
  &__mtv {
    position: fixed;
    top: 1rem;
    right: 1rem;
    max-width: 90px;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
    @media(max-width: 690px){
      top: 4rem;
      right: 0;
      max-width: 60px;
    }
  }
  &__player-block {
    position: absolute;
    right: 30rem;
    bottom: 10rem;
    @media(max-width:690px){
      right: 50%;
    }
    @media(max-width:500px){
      position: static;
    }
  }
}

//player fix
@media(max-width:500px){
  .player {
    width: 95%;
    position: absolute;
    top: 87%;
    left: 50%;
  }
  .player__album {
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 0;
    top: 16px;
  }
}
.player__bar {
  background: rgba(5, 10, 26, 0.8);;
}
.player__timeline {
  background: rgba(300, 300, 300, 0.8);
}
.player__album:before {
  background: none;
  background-image: url("../img/cycle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
//player fix end
